{% extends 'layout/base.html.twig' %}
{% block title %}Index{% endblock %}
{% block content %}

    <h1>weekday of {{ year }}-{{ month }}-{{ day }} is {{ _embedded.weekday.weekday }}</h1>

<pre>
{{ _ro | json_encode(constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_PRETTY_PRINT'))|raw}}
</pre>


{% endblock %}
